# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
deps
!deps/smt-switch
deps/smt-switch/build
deps/smt-switch/local
deps/smt-switch/deps
deps/smt-switch/tests
__pycache__
.vscode/
samples/hwmcc_btor2_bv/
output_ic3ng.md
additional_materials/
.aider*
.cursorrules
.vscode/launch.json
samples/spi_0.aig
.gitignore
samples/simple_arithmetic/1.c/1_smaller.c.aig
samples/spi_1.aig
